<!DOCTYPE html>
<html>
<head>
	<title>Навыки</title>
	<style>
		.rc {
			width: 140%;

			height: 211%;

			opacity: 0.8;

			position: absolute;

			background: #ffffff;
			}
	</style>
</head>
<body background="https://clck.ru/UFuUC">
	<div class="rc"></div>
	<div style="position: absolute;"><table border = "2" style="font-size: 13px; font-family: Comic Sans MS;">
		<tr>
			<th>Тип</th>
			<th>Название</th>
			<th>Иконка</th>
			<th>Описание</th>
			<th>Иллюстрация</th>
		</tr>
		<tr>
			<td>Боевой навык<br> Обычная/заряженная атака</td>
			<td>Дождь расставаний</td>
			<td><img src = "https://static.wikia.nocookie.net/genshin-impact/images/0/0c/Лук_Гидро.png/revision/latest?cb=20220525061403&path-prefix=ru"></td>
			<td style="text-align:left;"><pre style="font-family: Comic Sans MS";>
<b>Обычная атака:</b>
До шести выстрелов из лука.
<b>Заряженная атака:</b>
Более меткий прицельный выстрел с увеличенным уроном.
Во время прицеливания наконечник стрелы заряжается энергией воды. Полностью заряженная водой стрела наносит <span style="color:#0b4dda"><b>Гидро урон</b></span> и накладывает на противников статус <b>Отлив</b>.
	<b>Отлив:</b>
	Некоторые атаки Тартальи по противникам со статусом <b>Отлив</b> наносят <span style="color:#0b4dda"><b>Гидро урон по площади</b></span>. Этот урон считается нанесённым обычной атакой.
	Отлив-вспышка: Полностью заряженный прицельный выстрел по противнику со статусом Отлив наносит последовательный <span style="color:#0b4dda"><b>Гидро урон по площади</b></span>. возникает раз в 0,7 сек.
	Отлив-всплеск: Победа над противником со статусом Отлив вызывает Гидро всплеск, который накладывает на окружающих противников статус Отлив.
<b>Атака в падении:</b>
Стремительно падает на землю, атакуя всех врагов на пути. Приземлившись, наносит урон по площади.
			</pre></td>
			<td>
				<video src="autoattack.mp4" controls height="400px"></video>
			</td>
		</tr>
		<tr>
			<td>Боевой навык<br> Элементальный навык</td>
			<td>Форма духа: Бушующие волны</td>
			<td><img src="https://static.wikia.nocookie.net/genshin-impact/images/d/d6/Талант_Форма_духа_Бушующие_волны.png/revision/latest?cb=20210123205521&path-prefix=ru"></td>
<td style="text-align:left;"><pre style="font-family: Comic Sans MS">Тарталья обнажает клинки из чистой воды, которые наносят <span style="color:#0b4dda"><b>Гидро урон</b></span> окружающим врагам и активируют ближнюю стойку.

<p>В этой стойке атаки Тартальи наносят <span style="color:#0b4dda"><b>Гидро урон</b></span>, который не может быть отменён какой-либо элементальной инфузией, и изменяются следующим образом:
	<b>Обычная атака:</b>
		До шести ударов <span style="color:#0b4dda"><b>Гидро</b></span> клинками.
	<b>Заряженная атака:</b>
		Перекрёстный удар, который наносит <span style="color:#0b4dda"><b>Гидро урон</b></span> и затрачивает определённое количество выносливости.
	<b>Отлив-удар:</b>
		Атаки ближней стойки по противникам со статусом Отлив будут наносит <span style="color:#0b4dda"><b>Гидро урон по площади</b></span>. Урон от Отлив-удар наносит элементальный урон, срабатывает не чаще, чем один раз в 1,5 сек.
		Тарталья возвращается в дальнюю стойку по истечению 30 сек. или при повторной активации навыка, а сам навык уходит в откат. Чем дольше Тарталья был в рукопашной стойке, тем дольше будет время отката навыка.
		Время отката увеличивается, если возврат в дальнюю стойку произошёл по истечению 30 сек.
		</p></pre>
			</td>
			<td>
				<video src="skill_1.mp4" controls height="400px"></video>
			</td>
		</tr>
		<tr>
			<td>Боевой навык<br> Взрыв стихии</td>
			<td>Хаос: Опустошение</td>
<td><img src="https://static.wikia.nocookie.net/genshin-impact/images/0/0b/Талант_Хаос_Опустошение.png/revision/latest?cb=20210123205407&path-prefix=ru"></td>
<td style="text-align:left;">Совершаемая атака определяется стойкой, в которой находится Тарталья.<br>
<p><b>Дальняя стойка - Вспышка хаоса:</b><br>
Тарталья выпускает заряженную водной стихией стрелу, которая наносит <span style="color:#0b4dda"><b>Гидро урон по площади</b></span> и накладывает на врагов статус Отлив.<br>
После активации навык восстанавливает часть энергии.<br>
<b>Ближняя стойка - Свет погибели:</b><br>
Тарталья выполняет круговую атаку, которая наносит большой <span style="color:#0b4dda"><b>Гидро урон</b></span> окружающим врагам и накладывает на них статус Отлив-взрыв.<br>
<b>Отлив-взрыв:</b><br>
Атака Света погибели, попавшая по врагам со статусом Отлив, снимает с них этот статус, вызывая при этом Гидро взрывы, которые наносят <span style="color:#0b4dda"><b>Гидро урон по площади</b></span>. Урон Отлив-взрыв считается элементальным уроном.
</p>
</td>
	<td><video src="skill_2.mp4" controls height="400px"></video></td>
		</tr>
		<tr>
			<td>Пассивный навык 1</td>
			<td>Не кончается пытка</td>
			<td><img src="https://clck.ru/UFt2b"></td>
			<td style="text-align:left;">Увеличивает длительность статуса Отлив на 8 сек.</td>
		</tr>
		<tr>
			<td>Пассивный навык 2</td>
			<td>Водяной меч</td>
			<td><img src="https://clck.ru/UFtRv"></td>
			<td style="text-align:left;">Находясь в рукопашной стойке навыка Форма духа: Бушующие волны и при крит. попадании обычной или заряженной атакой противник получает статус Отлив.</td>
		</tr>
		<tr>
			<td>Пассивный навык 3</td>
			<td>Мастерское владение оружием</td>
			<td><img src="https://clck.ru/UFtrd"></td>
			<td style="text-align:left;">Увеличивает уровень <b>обычной атаки</b> вашего персонажа на 1.<br>
				<p><i><b>Примечание:</b> этот эффект распространяется не только на Тарталью, но и на весь отряд.</i></p>
			</td>
			<td><video src="@routes.Assets.versioned("videos/passive_1.mp4")" height="400px" controls></video></td>
		</tr>
	</table></div>
	<div class="button" style="position: absolute; top: 50px;left: 13px">
			<form action="@routes.HomeController.index()">
 				<button name="button" type = "submit">
					<img style="vertical-align: middle; width: 46px;" src="https://static.wikia.nocookie.net/genshin-impact/images/6/6b/Предмет_Удача_персонажа_5_звёзд.png/revision/latest/scale-to-width-down/256?cb=20210705093337&path-prefix=ru">
						Назад
				</button>
			</form>
		</div>
</body>
</html>